.home-hero {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 0;
  padding-inline: 8rem;
  background-color: var(--color-primary);

  @media (max-width: 1024px) {
    padding-inline: 3rem;
    padding-left: 7rem;
    padding-right: 5rem;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
  }

  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    padding-inline: 1rem;
  }
}

.hero-image {
  width: 10rem;
  height: 10rem;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 50%;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  flex: 1;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

.hero-image2 {
  width: clamp(280px, 30vw, 350px);
  /* height: auto; */
  /* aspect-ratio: 1 / 1; */
  overflow: hidden;
  margin-top: -3rem;
  margin-bottom: -3rem;
}

.hero-image2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-wrapper {
  padding-inline: 12rem;
  @media (max-width: 1024px) {
    padding-inline: 3rem;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 2rem;
  }

  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 1rem;
    padding-inline: 1rem;
  }
}

.hero-image3 {
  width: clamp(280px, 30vw, 600px);
  aspect-ratio: 1.5 / 1;
  overflow: hidden;
  flex-shrink: 0;
  @media (max-width: 1024px) {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }
  @media (max-width: 767.98px) {
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
  }
}

.hero-image3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
