---
title: Eleganza
permalink: /eleganza/
layout: layouts/base.njk
---

<section class="container-fluid py-5 home-hero d-flex justify-content-center align-items-center" >
  <div class="text-center">
    <h2>Full-stack web development project</h2>
    <p>A Music E-commerce Site Selling Violin Instruments, Accessories & Lessons, hard code from scratch.</p>
  </div>
</section>
